body {
    margin: 0;
    font-family: sans-serif;
}

header {
    overflow: hidden;
    height: 45vw;
    max-height: 800px;
    position: relative;
}

header img {
    width: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}

header h1 {
    position: absolute;
    text-align: center;
    box-sizing: border-box;
    padding: 70px;
    margin: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: rgba(190, 75, 133, 0.6);
}

main {
    padding: 0 10%;
}

main h3 {
    padding-bottom: 5px;
}

main p {
    margin-top: 50px;
}

main h3 {
    color: rgb(34, 177, 221);
    border-bottom: 1px solid rgb(34, 177, 221);
    padding-left: 4em;
}

h3 {
    margin-bottom: 5px;
}

.finn h3 {
    color: #00A0D6;
    border-bottom: 1px solid #00A0D6;
}

.finn figure {
    float: left;
}